:root {
  --darkBlue: #12416b;
  --animation-curve: cubic-bezier(0.12, 0.7, 0.74, 0.71);
}

.floating-btn {
  position: fixed;
  right: 85px;
  top: 85%;

  .text {
    margin-right: 68px;
    width: 105px;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    text-align: right;
    position: absolute;
    left: -155px;
    transform: translate(0, -30%);
    color: #707070;
  }
  .phone {
    z-index: 2;
    background-color: var(--darkBlue);
    animation: phone 1s var(--animation-curve) infinite alternate-reverse;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    position: absolute;
    cursor: pointer;
  }
  
  .material-icons {
    color: white;
    position: relative;
    img {
      width: 6px;
      height: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
  
  .circle1,
  .circle2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    animation: scaling 2s var(--animation-curve) infinite;
  }
  .circle1 {
    animation-delay: 0s;
  }
  .circle2 {
    animation-delay: 1s;
  }
}


@keyframes scaling {
  0% {
    transform: scale(4);
    background-color: var(--darkBlue);
  }
  100% {
    transform: scale(10);
    background-color: rgba(245, 0, 182, 0);
  }
}

@keyframes phone {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(4.5);
  }
}
