.form {
  margin-bottom: 50px;
  .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 21px;
  }
  .form-box {
    .section-main__menu {
      margin: 0 0 30px 0;
      .button-menu {
        display: flex;
        align-items: center;
        height: unset;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #e2e2e2;
        img {
          padding: 0;
          // background-color: #000000;
          margin: 0;
          height: 100%;
          width: 100%;
        }
        .text {
          width: 80%;
          text-align:left;
          color: #000000;
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
        }
        &.active {
          background-color: #303D4F;
          .text {
            color: #ffffff;
          }
        }
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
    .rules {
      color: #FFFFFF;
      font-size: 9px;
      line-height: 11px;
      margin-bottom: 18px;
      h3 {
        color: #FFFFFF;
        text-transform: uppercase;
      }
      .rules-content {
        margin-bottom: 8px;
      }
      .rules-check {
        display: flex;
        align-items: center;
        label {
          margin-left: 6px;
          font-weight: 700;
        }
      }
    }
    .btn-primary {
      color: #FFFFFF;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      background-color: #F5911E;
      border: none;
      border-radius: 40px;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
