.form {
  margin-bottom: 50px;
  .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 21px;
  }

  label {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
  }
  input[type="text"],
  select {
    width: 100%;
    display: inline-block;
    padding: 10px 23px;
    margin-bottom: 15px;
    margin-top: 4px;
    border-radius: 24px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 10px;
    color: #000;
  }

  .select-style {
    position: relative;
    width: 100%;
    overflow: hidden;

    i {
      position: absolute;
      top: 40%;
      right: 17px;
      transform: translate(0, -50%);
      transform: rotate(180deg);
      font-size: 23px;
      color: #575757;
    }
    select {
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      background-color: #fff;
      font-size: 11px;
      color: #000;
      font-style: normal;
      font-weight: normal;
      &:focus {
        outline: none;
      }
    }

    &.custom {
      select {
        option {
          border-radius: 24px;
          background: #e6e6e6;
          color: #000;
          padding: 5px 14px;
        }
      }
    }
  }
  .button {
    border-radius: 40px;
    padding: 6px 29px 6px 29px;
    background: #f5911e;
    border: none;
    margin-top: 6px;
    width: 100%;
    .text {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;

      color: #fff;
    }
  }
  &-box {
    .section-main__menu {
      margin: 0 0 30px 0;
      .button-menu {
        display: flex;
        align-items: center;
        height: 56px;
        justify-content: space-between;
        padding: 3px;
        background-color: #e2e2e2;
        box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.35);
        .box {
          min-width: 50px;
          height: 100%;
          background: linear-gradient(315.38deg, #E6E6E6 14.63%, #F2F2F2 85.36%);
          border-radius: 48px;
          display: flex;
          align-items: center;
          box-shadow: 1px 2px #cecece;
          img {
            padding: 0;
            margin: auto;
            height: 100%;
            width: 100%;
          }
        }
        .text {
          padding: 10px;
          width: 80%;
          text-align: left;
          color: #000000;
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
        }
        &.active {
          background-color: #303D4F;
          .box {
            background: linear-gradient(315.38deg, #434e5e 14.63%, #3d4a5e 85.36%);
            box-shadow: 1px 2px #283241;
          }
          .text {
            color: #ffffff;
          }
        }
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
    .rules {
      color: #ffffff;
      font-size: 9px;
      line-height: 14px;
      margin-bottom: 18px;
      h3 {
        color: #ffffff;
        text-transform: uppercase;
      }
      .rules-content {
          margin-top: 3px;
        margin-bottom: 8px;
      }
      .rules-check {
        display: flex;
        align-items: center;
        label {
          margin-left: 6px;
          font-weight: 700;
        }
        input {
            width: 15px;
            height: 15px;
        }
      }
    }
    .btn-primary {
      color: #ffffff;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      background-color: #f5911e;
      border: none;
      border-radius: 40px;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  } 
  &.hide {
    display: none;
  }
}