.wrapper-home {
  .section-news,
  .section-list-group {
    background: #cee3f4;
  }
  .section-list-box {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    border: unset;
    &:not(.section-news):not(.section-list-group) {
      padding-bottom: 0;
    }
    .section__list {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .section-main {
    .section__title {
      padding-top: 160px;
      text-align: center;
    }
    .section-main__menu {
      position: absolute;
      top: 440px;
      left: 0;
      right: 0;
    }
    .background-box {
      margin-bottom: 0;
    }
  }
}

.wrapper-ptkd {
  .section-main {
    &__box {
      margin-bottom: 25px;
      .section__title {
        background: #12416b;
        box-shadow: inset 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
        padding: 14px 20px 14px 35px;
        width: 87%;
        border-top-right-radius: 91px;
        border-bottom-right-radius: 91px;
      }
    }
  }
  
  @media screen and (max-width: 360px) {
    .section-main {
      &__box {
        .section__title {
          font-size: 25px;
        }
      }
    }
  }
}

.wrapper-ttnph {
  .section-main {
    &__box {
      .section__title {
        color: #12416b;
      }
    }
  }
}

.wrapper-tmdtxbg, .wrapper-ttnph {
  .section-main {
    .section__title {
      top: 82px;
    }
  }
}

.wrapper-news {
  .card {
    padding-left: 0;
    padding-right: 0;
    &__image {
      padding: unset;
      img {
        width: 100%;
        height: 273px;
      }
    }
  }
  .section-main {
    &__box {
      .section__title {
        color: #12416b;
        padding-bottom: 0;
      }
    }
  }
  .section__list {
    padding-bottom: 50px;
  }
}

.wrapper-inform {
  width: 100%;
  padding: 0 35px 10px 35px;
  background: url("../image/section/section-inform.png");
  background-size: contain;
  .box{
    max-width: 620px;
    margin: auto;
  }
  .move-click {
    margin-top: 13px;
    position: relative;
    min-height: 40px;
    .prev-button {
      background-color: unset;
      color: #73cbdd;
      border: unset;
      font-size: 21px;
      &.disabled {
        display: none;
      }
    }
    .pagination {
      top: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      &-circle {
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #c4c4c4;
        &.active {
          background: #f5911e;
        }
      }
    }
  }

  .menu {
    background-color: unset;
    position: relative;
    &-left {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-wrap {
      padding-top: 0;
    }
  }
  .section__title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    span {
      font-size: 22px;
      display: block;
    }
  }
}

.wrapper-template {
  background-color: #f2f2f2;
  .section-main {
    &__box {
      .section__title {
        color: #242d3c;
        margin-top: -30px;
        width: 65%;
        font-size: 22px;
        line-height: 27px;
      }
    }
  }

  .section-news {
    &.section-list-box {
      padding: 0;
      border: none;
    }
    .section__list {
      margin-bottom: 80px;
      .section__item {
        border: 1px solid #cee3f4;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
        .card {
          padding: 0;
          &__section {
            background-color: unset;
          }
          &__image {
            padding: 15px 18px 18px;
            img {
              width: 100%;
              height: unset;
              min-height: 127px;
            }
          }
          &__title {
            font-size: 14px;
            line-height: 17px;
            padding-top: 0;
          }
          &__desc {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 12px;
          }

          &__end {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 14px;
            .full-time {
              padding: unset;
            }
          }
          .see-more {
            margin: 0;
          }
        }
      }
    }
  }
}