.popup {
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
  &-form {
    height: 100vh;
    overflow: auto;
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #c4c4c4;
    background: none;
    border: none;
  }
  &-notify {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .content {
      max-width: 323px;
      border-radius: 9px;
      background-color: #fff;
      text-align: center;
      padding: 13px 12px 20px 12px;
      .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }
      & > .text {
        padding-top: 6px;
        padding-bottom: 9px;
        font-size: 15px;
        line-height: 20px;
      }
      .button {
        background: #12416B;
        border-radius: 5px;
        padding: 8px;
        .text {
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  &.show {
    display: block;
    z-index: 1005;
  }
}

@media screen and (min-width: 1024px) {
  .popup {
    .close {
      position: fixed;
      top: 7px;
      right: 25px;
    }
  }
}