.section-main {
  &__box {
    width: 100%;
    height: 100%;
    padding-left: 36px;
    padding-right: 36px;
    .background-box {
      position: absolute;
      left: 0;
      width: 100%;
      top: 60px;
      img {
        width: 100vw;
      }
    }

    .section__title {
      position: relative;
      font-weight: bold;
      padding-top: 70px;
      padding-bottom: 35px;
      font-size: 32px;
      line-height: 39px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &.main {
        font-size: 35px;
      }

      & + .section-main__menu {
        padding-bottom: calc(100% - 35px);
      }
    }
  }
  &__menu {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    .button-menu {
      width: 100%;
      background: #303d4f;
      border-radius: 43px;
      padding: 3px 6px 3px 6px;
      height: 39px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 9px;
      }
      .box {
        width: 28px;
        max-height: 28px;
        margin-left: 14px;
        margin-bottom: 1px;
          img {
            width: 100%;
            height: auto;
          }
        & + .text {
          padding-left: 16px;
          justify-content: flex-start;
          text-align: left;
        }
      }
      .text {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        justify-content: center;
        text-align: center;
        width: 100%;
        &.special {
          padding-left: 17px;
          padding-right: 17px;
        }
      }
    }
  }

  @media screen and (min-width: 360px) {
    &__menu {
      margin: 0 23px 0 23px;
    }
  }

  // @media screen and (min-width: 400px) {
  //   &__box {
  //     &.not-breadcumbs {
  //       height: 714px;
  //     }
  //   }
  // }

  @media screen and (max-width: 360px) {
    &__box {
      .section__title {
        padding-top: 140px;
        &.main {
          font-size: 29px;
        }
      }
    }
  }
}

.section-why {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  .section__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #12416b;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
    color: #575757;
  }

  .benefit {
    padding-top: 8px;
    .item {
      padding: 12px;
      background: #fafdff;
      border: 1px solid #73cbdd;
      box-sizing: border-box;
      box-shadow: 16px 30px 30px -19px rgba(0, 0, 0, 0.1);
      border-radius: 17px;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 22px;
      }

      .title {
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .box {
        max-width: 42px;
        max-height: 35px;
        img {
          width: 42px;
        }
        & + .info {
          padding-left: 16px;
        }
      }
      p.text {
        font-weight: lighter;
        font-size: 11px;
        color: #000;
      }
    }
  }

  @media screen and (max-width: 480px) and (min-width: 420px) {
    margin-top: 90px;
  }
}

.section-list-group {
  padding: 59px 0 59px 0;
  .section__list {
    &.group {
      .section__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 145px;
        width: calc(50% - 1rem);
        margin: 8px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        .section__box {
          max-width: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          & + .section__info {
            padding-left: 0;
          }
          img {
            border-radius: 0;
          }
        }
        .section__info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .title {
            padding: 7px 0 7px 0;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            max-width: 93px;
            text-align: center;
          }
        }

        &.gray-color {
          background-color: #e4e4e4;
          .title {
            color: #000;
          }
        }
        &.primary-color {
          background-color: #f5911e;
        }
        &.navy-color {
          background: #12416b;
        }
        &.light-blue {
          background: #aed1ec;
          .title {
            color: #12416b;
          }
        }
      }
    }
  }
}

.section-news {
  padding: 65px 0 65px 0;
  .card {
    padding-left: 35px;
    padding-right: 35px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    .title {
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      padding-bottom: 14px;
      color: #000000;
    }
    &__image {
      z-index: 1;
      padding: unset;
      img {
        width: 100%;
        height: 243px;
      }
    }
    &__section {
      background-color: #aed1ec;
      & > *:not(:first-child) {
        padding-left: 17px;
        padding-right: 17px;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 12px;
      padding-top: 12px;
      line-height: 15px;
      padding-bottom: 4px;
      color: #12416b;
    }
    &__desc {
      font-size: 10px;
      line-height: 12px;
      padding-bottom: 5px;
      font-weight: lighter;
      color: #000000;
    }

    .see-more {
      margin-top: 17px;
    }

    &.column {
      .card__section {
        position: relative;
        background-color: unset;
        .card__info {
          position: absolute;
          bottom: 0;
          left: 0;
          &::before {
            content: "";
            --color-start: rgba(196, 196, 196, 0);
            --color-end: #000000;
            background-image: linear-gradient(
              180deg,
              var(--color-start) 0,
              var(--color-end) 100%
            );
            height: 70%;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }
      }
      .card__image {
        img {
          border-radius: 15px;
        }
      }
      .card__title,
      .card__desc,
      .full-time {
        position: relative;
        color: #fff;
      }
      .card__title {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 7px;
      }
      .full-time .time::before {
        background-color: #fff;
      }
    }
  }
}

.full-time {
  font-size: 7px;
  padding-bottom: 14px;
  line-height: 9px;
  color: #707070;
  span {
    &:nth-child(2) {
      &::after {
        content: ",";
      }
    }
  }
  .time {
    padding-left: 23px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 15px;
      width: 3.25px;
      height: 3px;
      top: 35%;
      transform: translate(-50%, 0);
      border-radius: 100%;
      background-color: #707070;
    }
  }
}
