@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-ITALIC.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-EXTRABOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-REGULAR.TTF") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-BOLDITALIC.TTF") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.menu {
  background-color: #12416b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 22px 18px 22px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 63px;
}

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right .button {
  border-radius: 91px;
  height: 24px;
  padding: 6px 29px 6px 29px;
  background: #f7941d;
  border: none;
}

.menu-right .button .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #12416b;
}

.menu-right .button.medium {
  border-radius: 43px;
}

.menu .logo {
  max-width: 140px;
  max-height: 22px;
  margin-top: 2px;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  /* ANIMATION */
}

.menu-btn__burger {
  width: 26px;
  height: 3px;
  background-color: #c4c4c4;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #c4c4c4;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.menu-content {
  height: 100vh;
  -webkit-clip-path: circle(10px at 90% -10%);
          clip-path: circle(10px at 90% -10%);
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 20px 35px 20px 35px;
  z-index: 99999;
}

.menu-content.show {
  -webkit-clip-path: circle(1000px at 90% -10%);
          clip-path: circle(1000px at 90% -10%);
}

.menu-wrap {
  padding-top: 63px;
}

.accordion__item {
  border-bottom: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.accordion__item:not(:first-child) {
  border-top: 1px solid #cccccc;
}

.accordion .button-collapse {
  width: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: unset;
  position: absolute;
  right: -4px;
  z-index: 1;
}

.accordion .button-collapse i {
  color: #f7941d;
  font-size: 11px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.accordion .button-collapse.active {
  color: #f7941d;
}

.accordion .button-collapse.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion .button-collapse.active + .accordion__body.collapse, .accordion .button-collapse.active ~ .accordion__body.collapse {
  -webkit-transition: max-height .45s ease-in;
  transition: max-height .45s ease-in;
  max-height: 1000px;
}

.accordion .button-collapse.active + .accordion__header, .accordion .button-collapse.active ~ .accordion__header {
  color: #f7941d;
}

.accordion__header {
  width: 100%;
  color: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 11px;
  padding-right: 16px;
}

.accordion__body {
  width: 100%;
  max-height: 0;
  font-size: 11px;
  padding-left: 35px;
  overflow: hidden;
}

.accordion__body.collapse {
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.accordion__body a {
  color: inherit;
  display: block;
  line-height: 20px;
}

.accordion__body a.title {
  color: #12416b;
  font-weight: 700;
  padding-top: 12px;
}

.accordion__body .accordion__wrap {
  height: 0;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
  padding-left: 35px;
}

.section-main__box .background-box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.section-main__box .background-box img {
  width: 100%;
  height: auto;
}

.section-main__box .background-box + .section__title {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  padding-top: 0;
}

.section-main__box .section__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  padding: 68px 35px 25px 35px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-main__box .section__title.main {
  font-size: 35px;
}

.section-main__menu {
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}

.section-main__menu .button-menu {
  width: 100%;
  background: #303d4f;
  border-radius: 43px;
  padding: 3px 6px 3px 6px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-main__menu .button-menu:not(:last-child) {
  margin-bottom: 9px;
}

.section-main__menu .button-menu .box {
  width: 28px;
  max-height: 28px;
  margin-left: 14px;
  margin-bottom: 1px;
}

.section-main__menu .button-menu .box img {
  width: 100%;
  height: auto;
}

.section-main__menu .button-menu .box + .text {
  padding-left: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.section-main__menu .button-menu .text {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.section-main__menu .button-menu .text.special {
  padding-left: 17px;
  padding-right: 17px;
}

@media screen and (min-width: 360px) {
  .section-main__menu {
    margin: 0 23px 0 23px;
  }
}

@media screen and (max-width: 480px) {
  .section-main__box .section__title .highlights {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .section-main__box .section__title.main {
    font-size: 29px;
  }
}

.section-why {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

.section-why .section__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #12416b;
}

.section-why p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 10px;
  color: #575757;
}

.section-why .benefit {
  padding-top: 8px;
}

.section-why .benefit .item {
  padding: 12px;
  background: #fafdff;
  border: 1px solid #73cbdd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 16px 30px 30px -19px rgba(0, 0, 0, 0.1);
          box-shadow: 16px 30px 30px -19px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-why .benefit .item:not(:last-child) {
  margin-bottom: 22px;
}

.section-why .benefit .item .title {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  font-weight: bold;
  padding-bottom: 5px;
}

.section-why .benefit .item .box {
  max-width: 42px;
  max-height: 35px;
}

.section-why .benefit .item .box img {
  width: 42px;
}

.section-why .benefit .item .box + .info {
  padding-left: 16px;
}

.section-why .benefit .item p.text {
  font-weight: lighter;
  font-size: 11px;
  color: #000;
}

@media screen and (max-width: 480px) and (min-width: 420px) {
  .section-why {
    margin-top: 90px;
  }
}

.section-list-group {
  padding: 59px 0 59px 0;
}

.section-list-group .section__list.group .section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 145px;
  width: calc(50% - 1rem);
  margin: 8px;
}

.section-list-group .section__list.group .section__item:not(:last-child) {
  margin-bottom: 8px;
}

.section-list-group .section__list.group .section__item .section__box {
  max-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-list-group .section__list.group .section__item .section__box + .section__info {
  padding-left: 0;
}

.section-list-group .section__list.group .section__item .section__box img {
  border-radius: 0;
}

.section-list-group .section__list.group .section__item .section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-list-group .section__list.group .section__item .section__info .title {
  padding: 7px 0 7px 0;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  max-width: 93px;
  text-align: center;
}

.section-list-group .section__list.group .section__item.gray-color {
  background-color: #e4e4e4;
}

.section-list-group .section__list.group .section__item.gray-color .title {
  color: #000;
}

.section-list-group .section__list.group .section__item.primary-color {
  background-color: #f5911e;
}

.section-list-group .section__list.group .section__item.navy-color {
  background: #12416b;
}

.section-list-group .section__list.group .section__item.light-blue {
  background: #aed1ec;
}

.section-list-group .section__list.group .section__item.light-blue .title {
  color: #12416b;
}

.section-news {
  padding: 65px 0 65px 0;
}

.section-news .card {
  padding-left: 35px;
  padding-right: 35px;
}

.section-news .card:not(:last-child) {
  margin-bottom: 40px;
}

.section-news .card .title {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 14px;
  color: #000000;
}

.section-news .card__image {
  z-index: 1;
  padding: unset;
}

.section-news .card__image img {
  width: 100%;
  height: 243px;
}

.section-news .card__section {
  background-color: #aed1ec;
}

.section-news .card__section > *:not(:first-child) {
  padding-left: 17px;
  padding-right: 17px;
}

.section-news .card__title {
  font-weight: bold;
  font-size: 12px;
  padding-top: 12px;
  line-height: 15px;
  padding-bottom: 4px;
  color: #12416b;
}

.section-news .card__desc {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 5px;
  font-weight: lighter;
  color: #000000;
}

.section-news .card .see-more {
  margin-top: 17px;
}

.section-news .card.column .card__section {
  position: relative;
  background-color: unset;
}

.section-news .card.column .card__section .card__info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-news .card.column .card__section .card__info::before {
  content: "";
  --color-start: rgba(196, 196, 196, 0);
  --color-end: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--color-start)), to(var(--color-end)));
  background-image: linear-gradient(180deg, var(--color-start) 0, var(--color-end) 100%);
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.section-news .card.column .card__image img {
  border-radius: 15px;
}

.section-news .card.column .card__title,
.section-news .card.column .card__desc,
.section-news .card.column .full-time {
  position: relative;
  color: #fff;
}

.section-news .card.column .card__title {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 7px;
}

.section-news .card.column .full-time .time::before {
  background-color: #fff;
}

.full-time {
  font-size: 7px;
  padding-bottom: 14px;
  line-height: 9px;
  color: #707070;
}

.full-time span:nth-child(2)::after {
  content: ",";
}

.full-time .time {
  padding-left: 23px;
  position: relative;
}

.full-time .time::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 3.25px;
  height: 3px;
  top: 35%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100%;
  background-color: #707070;
}

.section-detail {
  padding-top: 40px;
  padding-bottom: 45px;
}

.section-detail .card {
  padding-left: 26px;
  padding-right: 26px;
}

.card-detail .full-time {
  font-size: 10px;
}

.card-detail .full-time span {
  color: #898989;
}

.card-detail .full-time span:first-child::after {
  content: ",";
}

.card-detail .full-time span:nth-child(2)::after {
  content: "";
}

.card-detail .card__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 6px;
}

.card-detail .card__desc {
  font-size: 12px;
  line-height: 15px;
}

.card-detail .card__image {
  margin-top: 19px;
  position: relative;
  padding-bottom: 200%;
  display: block;
}

.card-detail .card__image img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}

.card-detail .card__social {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-detail .card__social-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-list-box {
  padding-bottom: 50px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 42px;
}

.section-list-box:not(:last-child) {
  border-bottom: 1px solid #12416B;
}

.section-list-box .section__title {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  padding: 12px 0 12px 35px;
  margin-bottom: 28px;
  background-color: #f7941d;
  width: 95%;
  color: #ffffff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-style: bold;
  -webkit-box-shadow: 0px 2px #821d1d;
          box-shadow: 0px 2px #821d1d;
}

.section-list-box .section__title.title-custom {
  font-size: 18px;
  line-height: 22px;
  width: 90%;
  background-color: unset;
  color: #12416B;
  border-radius: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  position: relative;
  padding-left: 17px;
}

.section-list-box .section__title.title-custom::before {
  content: '';
  width: 6px;
  height: 38px;
  position: absolute;
  left: 0;
  background-color: #12416B;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.section-list-box .section__title-extra {
  font-size: 15px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: bold;
  line-height: 18px;
  color: #12416b;
}

.section-list-box .section__title-extra + .section__title {
  margin-top: 6px;
}

.section-list-box .section__list .section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-list-box .section__list .section__item:not(:last-child) {
  margin-bottom: 22px;
}

.section-list-box .section__list .section__item .section__box {
  max-width: 80px;
  max-height: 80px;
}

.section-list-box .section__list .section__item .section__box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.section-list-box .section__list .section__item .section__box.no-radius img {
  border-radius: 0;
}

.section-list-box .section__list .section__item .section__box + .section__info {
  padding-left: 17px;
  padding-right: 4px;
}

.section-list-box .section__list .section__item .section__info {
  width: 65%;
}

.section-list-box .section__list .section__item .section__info .title img {
  max-height: 18px;
  min-width: 20px;
}

.section-list-box .section__list .section__item .section__info .title h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #12416B;
  margin-bottom: 10px;
  margin-top: 7px;
}

.section-list-box .section__list .section__item.long-img .section__box {
  min-width: 106px;
  max-height: 56px;
}

.section-list-box .section__list .section__item.long-img .section__info {
  background-color: #EBEBEB;
  width: 100%;
  padding-left: 12px;
  padding-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 56px;
}

.section-list-box .section__list .section__item.long-img .section__info .title h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 4px;
  margin-top: 5px;
}

.section-list-box .section__list .section__item.has-desc .section__box {
  max-width: 96px;
  max-height: 96px;
}

.section-list-box .section__list .section__item.has-desc .section__info h4 {
  font-size: 12px;
  margin-bottom: 4px;
}

.section-list-box .section__list .section__item.has-desc .section__info .content {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #000000;
  margin-bottom: 6px;
}

.section-list-box .section__list .section__item.news:not(:last-child) {
  margin-bottom: 12px;
}

.section-list-box .section__list .section__item.news .section__box {
  max-width: 96px;
  max-height: 71px;
}

.section-list-box .section__list .section__item.news .section__box img {
  border-radius: 6px;
}

.section-list-box .section__list .section__item.news .section__info h4 {
  font-size: 12px;
  margin-bottom: 2px;
}

.section-list-box .section__list .section__item.news .section__info .content {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #000000;
}

.section-list-box .section__list .section__item.news .section__info .content p {
  margin-bottom: 4px;
}

.section-list-box .section__list .section__item.news .section__info .content .full-time {
  padding: 0;
}

.see-more {
  font-size: 8px;
  color: #575757;
  padding: 3px 9px;
  background-color: #E5E5E5;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see-more span {
  margin-right: 4px;
}

.see-more img {
  margin-bottom: 1px;
}

.see-more.white-bg {
  background-color: #fff;
}

.see-more.full {
  border-radius: 31px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C4C4C4;
  font-size: 12px;
  padding: 10px;
}

.see-more.full img {
  margin-bottom: 0;
  padding-left: 4px;
  width: 18px;
}

.see-more:active span, .see-more:active img, .see-more:hover span, .see-more:hover img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.no-padding {
  padding: 0;
}

.wrapper-home .section-news,
.wrapper-home .section-list-group {
  background: #cee3f4;
}

.wrapper-home .section-list-box {
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  border: unset;
}

.wrapper-home .section-list-box:not(.section-news):not(.section-list-group) {
  padding-bottom: 0;
}

.wrapper-home .section-list-box .section__list {
  padding-left: 35px;
  padding-right: 35px;
}

.wrapper-home .section-main .section__title {
  padding-top: 160px;
  text-align: center;
}

.wrapper-home .section-main .section-main__menu {
  position: absolute;
  top: 440px;
  left: 0;
  right: 0;
}

.wrapper-home .section-main .background-box {
  margin-bottom: 0;
}

.wrapper-ptkd .section-main__box {
  margin-bottom: 25px;
}

.wrapper-ptkd .section-main__box .section__title {
  background: #12416b;
  -webkit-box-shadow: inset 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
          box-shadow: inset 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
  padding: 14px 20px 14px 35px;
  width: 87%;
  border-top-right-radius: 91px;
  border-bottom-right-radius: 91px;
}

@media screen and (max-width: 360px) {
  .wrapper-ptkd .section-main__box .section__title {
    font-size: 25px;
  }
}

.wrapper-ttnph .section-main__box .section__title {
  color: #12416b;
}

.wrapper-news .card {
  padding-left: 0;
  padding-right: 0;
}

.wrapper-news .card__image {
  padding: unset;
}

.wrapper-news .card__image img {
  width: 100%;
  height: 273px;
}

.wrapper-news .section-main__box .section__title {
  color: #12416b;
  padding-bottom: 0;
}

.wrapper-news .section__list {
  padding-bottom: 50px;
}

.wrapper-inform {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 35px 10px 35px;
  background: url("../image/section/section-inform.png");
  background-size: contain;
}

.wrapper-inform .move-click {
  margin-top: 13px;
  position: relative;
  min-height: 40px;
}

.wrapper-inform .move-click .prev-button {
  background-color: unset;
  color: #73cbdd;
  border: unset;
  font-size: 21px;
}

.wrapper-inform .move-click .prev-button.disabled {
  display: none;
}

.wrapper-inform .move-click .pagination {
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.wrapper-inform .move-click .pagination-circle {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.wrapper-inform .move-click .pagination-circle.active {
  background: #f5911e;
}

.wrapper-inform .menu {
  background-color: unset;
  position: relative;
}

.wrapper-inform .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wrapper-inform .menu-wrap {
  padding-top: 0;
}

.wrapper-inform .section__title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.wrapper-inform .section__title span {
  font-size: 22px;
  display: block;
}

.wrapper-template {
  background-color: #f2f2f2;
}

.wrapper-template .section-main__box .section__title {
  color: #242d3c;
  margin-top: -30px;
  width: 65%;
  font-size: 22px;
  line-height: 27px;
}

.wrapper-template .section-news.section-list-box {
  padding: 0;
  border: none;
}

.wrapper-template .section-news .section__list {
  margin-bottom: 80px;
}

.wrapper-template .section-news .section__list .section__item {
  border: 1px solid #cee3f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.wrapper-template .section-news .section__list .section__item .card {
  padding: 0;
}

.wrapper-template .section-news .section__list .section__item .card__section {
  background-color: unset;
}

.wrapper-template .section-news .section__list .section__item .card__image {
  padding: 15px 18px 18px;
}

.wrapper-template .section-news .section__list .section__item .card__image img {
  width: 100%;
  height: unset;
  min-height: 127px;
}

.wrapper-template .section-news .section__list .section__item .card__title {
  font-size: 14px;
  line-height: 17px;
  padding-top: 0;
}

.wrapper-template .section-news .section__list .section__item .card__desc {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 12px;
}

.wrapper-template .section-news .section__list .section__item .card__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.wrapper-template .section-news .section__list .section__item .card__end .full-time {
  padding: unset;
}

.wrapper-template .section-news .section__list .section__item .card .see-more {
  margin: 0;
}

.form {
  margin-bottom: 50px;
}

.form .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 21px;
}

.form label {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.form input[type="text"],
.form .selection {
  width: 100%;
  display: inline-block;
  padding: 10px 23px;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 11px;
  color: #000;
}

.form .select-style {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.form .select-style i {
  position: absolute;
  top: 40%;
  right: 17px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 23px;
  color: #575757;
}

.form .select-style select {
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  background-color: #fff;
  font-size: 11px;
  color: #000;
}

.form .select-style select:focus {
  outline: none;
}

.form .select-style.normal .selection {
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.form .select-style.normal .selection.active {
  border-radius: 3px !important;
}

.form .select-style.normal .selection .select-title {
  font-size: 11px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
}

.form .select-style.normal .select .dropdown {
  background-color: #fff;
  padding-left: 12px;
  border-radius: 3px;
  padding-right: 12px;
}

.form .select-style.normal .select .dropdown .option {
  padding-top: 8px;
  padding-bottom: 8px;
}

.form .select-style.normal .select .dropdown .option .radio {
  display: none;
}

.form .button {
  border-radius: 40px;
  padding: 6px 29px 6px 29px;
  background: #f5911e;
  border: none;
  margin-top: 6px;
  width: 100%;
}

.form .button .text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.form .button:disabled, .form .button[disabled] {
  background-color: #303d4f;
}

.form .button:disabled .text, .form .button[disabled] .text {
  color: #cecece;
}

.form-box .select-style .select .dropdown {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  list-style: none;
}

.form-box .select-style .select .dropdown + .select-styled {
  position: relative;
  padding: 4px 8px;
  font-size: 11px;
}

.form-box .select-style .select .dropdown + .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #575757 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translate(0px, -30%);
          transform: translate(0px, -30%);
}

.form-box .select-style .select .dropdown.collapse {
  max-height: 0;
  overflow: hidden;
}

.form-box .select-style .select .dropdown.active {
  height: unset;
  overflow: visible;
  list-style: none;
  max-height: 100px;
  overflow: auto;
  visibility: visible;
}

.form-box .select-style .select .dropdown .option {
  padding-top: 4px;
  padding-left: 8px;
  font-size: 11px;
}

.form-box .select-style .select .dropdown .option:not(:last-child) {
  padding-bottom: 4px;
}

.form-box .select-style .select .dropdown .option .radio {
  display: none;
}

.form-box .select-style .select .dropdown .option label {
  color: #000;
  font-weight: normal;
  font-size: 11px;
}

.form-box .select-style .select .selection {
  background-color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  padding: 6px 12px 6px 12px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-radius: 11px;
  margin-bottom: 0;
}

.form-box .section-main__menu {
  margin: 0 0 30px 0;
}

.form-box .section-main__menu .button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  background-color: #e2e2e2;
  -webkit-box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.35);
}

.form-box .section-main__menu .button-menu .box {
  min-width: 50px;
  height: 100%;
  background: linear-gradient(315.38deg, #e6e6e6 14.63%, #f2f2f2 85.36%);
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px #cecece;
          box-shadow: 1px 2px #cecece;
}

.form-box .section-main__menu .button-menu .box img {
  padding: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.form-box .section-main__menu .button-menu .text {
  padding: 10px;
  width: 80%;
  text-align: left;
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.form-box .section-main__menu .button-menu.active {
  background-color: #303d4f;
}

.form-box .section-main__menu .button-menu.active .box {
  background: linear-gradient(315.38deg, #434e5e 14.63%, #3d4a5e 85.36%);
  -webkit-box-shadow: 1px 2px #283241;
          box-shadow: 1px 2px #283241;
}

.form-box .section-main__menu .button-menu.active .text {
  color: #ffffff;
}

.form-box .section-main__menu .button-menu:not(:last-child) {
  margin-bottom: 18px;
}

.form-box .rules {
  color: #ffffff;
  font-size: 9px;
  line-height: 14px;
  margin-bottom: 18px;
}

.form-box .rules h3 {
  color: #ffffff;
  text-transform: uppercase;
}

.form-box .rules .rules-content {
  margin-top: 3px;
  margin-bottom: 8px;
}

.form-box .rules .rules-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-box .rules .rules-check label {
  margin-left: 6px;
  font-weight: 700;
}

.form-box .rules .rules-check input {
  width: 15px;
  height: 15px;
}

.form.hide {
  display: none;
}

.form-group {
  margin-bottom: 12px;
}

.form-group .form-msg {
  color: #e21f1f;
  font-size: 9px;
  line-height: 10px;
}

.truncated,
.truncated-2,
.truncated-3,
.truncated-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.truncated {
  -webkit-line-clamp: 1;
}

.truncated-2 {
  -webkit-line-clamp: 2;
}

.truncated-3 {
  -webkit-line-clamp: 3;
}

.truncated-4 {
  -webkit-line-clamp: 4;
}

.group-3,
.group,
.group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.group-3 .section__item {
  width: calc(33.33% - 1rem);
  margin-right: 8px;
  margin-left: 8px;
}

.group-3 .section__item:first-child {
  margin-left: 0;
}

.group-3 .section__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .group-3 .section__item {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.footer {
  background-color: #12416B;
  padding: 40px 35px 45px;
}

.footer .footer-title {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.footer__introduce {
  margin-bottom: 30px;
}

.footer__introduce-content {
  font-size: 10px;
  line-height: 12px;
  font-weight: lighter;
  color: #FFFFFF;
  margin-top: 20px;
}

.footer__contact-menu {
  margin-top: 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact-menu-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  min-width: 208px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #12416B;
  padding: 8px 16px;
  border-radius: 28px;
  background-color: #FFFFFF;
}

.footer__contact-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu .menu-part {
  width: 45%;
  font-size: 10px;
  color: #C4c4c4;
  margin-bottom: 45px;
}

.footer__menu .menu-part .part-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.footer__menu .menu-part .part-list {
  list-style: none;
}

.footer__menu .menu-part .part-list .part-item:not(:last-child) {
  margin-bottom: 6px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "MONTSERRAT";
}

a {
  color: inherit;
  text-decoration: unset;
}

.button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

.highlights {
  color: #f7941d;
  font-weight: 800;
}

.sticky {
  background: #dfdfdf;
  padding: 22px 35px 22px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky::before {
  content: "";
  --color-start: rgba(196, 196, 196, 0.6);
  --color-end: #333333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, var(--color-start)), to(var(--color-end)));
  background-image: linear-gradient(0deg, var(--color-start) 0, var(--color-end) 100%);
  height: 10%;
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
}

.sticky-menu {
  width: 100%;
  position: fixed;
  top: -60px;
  z-index: 9999;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.sticky-menu.show {
  top: 63px;
}

.sticky .button {
  background-color: unset;
}

.sticky .button i {
  font-size: 11px;
  color: #f5911e;
  padding-right: 15px;
}

.sticky .text a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #12416b;
}

.container-nav li {
  font-size: 20px;
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container-nav li.active {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */