.section-main {
  &__box {
    background: url("../image/section/section-amazon.svg") no-repeat;
    width: 100%;
    height: 100%;
    padding-left: 36px;
    padding-right: 36px;
    .section__title {
      font-weight: bold;
      padding-top: 225px;
      padding-bottom: 35px;
      font-size: 32px;
      line-height: 39px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &.main {
        font-size: 35px;
      }
    }

    &.not-breadcumbs {
      text-align: center;
      background-size: cover;
      padding-bottom: 83px;
    }
  }
  .breadcumbs {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 25px;
    padding-top: 31px;
    &.white {
      color: #fff;
    }
    &.gray {
      color: #565555;
    }
    & + .section__title {
      padding-top: 0;
      padding-bottom: 280px;
    }
  }

  &__menu {
    margin: 0 23px 0 23px;
    .button-menu {
      width: 100%;
      background: #303d4f;
      border-radius: 43px;
      padding: 3px 6px 3px 6px;
      height: 39px;
      &:not(:last-child) {
        margin-bottom: 9px;
      }
      img {
        max-width: 28px;
        max-height: 28px;
        margin-left: 14px;
        margin-bottom: 1px;
        & + .text {
          margin-left: 16px;
          justify-content: flex-start;
          text-align: left;
        }
      }
      .text {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        justify-content: center;
        text-align: center;
        width: 100%;
        &.special {
          padding-left: 17px;
          padding-right: 17px;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
    }
  }
}

.section-why {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  .section__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #12416b;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
    color: #575757;
  }

  .benefit {
    .item {
      padding: 12px;
      background: #fafdff;
      border: 1px solid #73cbdd;
      box-sizing: border-box;
      box-shadow: 16px 30px 30px -19px rgba(0, 0, 0, 0.1);
      border-radius: 17px;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 22px;
      }

      .title {
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .box {
        max-width: 42px;
        max-height: 35px;
        img {
          width: 42px;
        }
        & + .info {
          padding-left: 16px;
        }
      }
      p.text {
        font-weight: lighter;
        font-size: 11px;
        color: #000;
      }
    }
  }
}

.section-list-group {
  background: #cee3f4;
  padding: 59px 0 59px 0;
  .section__list {
    &.group {
      display: flex;
      flex-flow: row wrap;
      .section__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 145px;
        width: calc(50% - 1rem);
        margin: 8px;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        .section__box {
          max-width: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
            & + .section__info {
            padding-left: 0;
            }
            img {
                border-radius: 0;
            }
        }
        .section__info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .title {
            padding: 7px 0 7px 0;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            max-width: 93px;
            text-align: center;
          }
        }

        &.gray-color {
          background-color: #e4e4e4;
          .title {
            color: #000;
          }
        }
        &.primary-color {
          background-color: #f5911e;
        }
        &.navy-color {
          background: #12416b;
        }
        &.light-blue {
          background: #aed1ec;
          .title {
            color: #12416b;
          }
        }
      }
    }
  }
}
