.section-list-box {
  margin-top: 55px;
  .section__list {
    padding-left: 35px;
    padding-right: 35px;
    .section__item {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      .section__box {
        max-width: 80px;
        max-height: 80px;
        img {
          border-radius: 10px;
        }
        &.no-radius {
          img {
            border-radius: 0;
          }
        }
        & + .section__info {
          padding-left: 17px;
        }
      }
      .section__info {
        .title {
          img {
            max-height: 18px;
            min-width: 20px;
            margin-bottom: 7px;
          }
          h4 {
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            color: #12416B;
            margin-bottom: 7px;
          }
        }

        &.gray-bg {
          background-color: #EBEBEB;
        }
      }
    }
  }
}

.see-more {
  font-size: 8px;
  line-height: 9.75px;
  color: #575757;
  padding: 3px 9px;
  background-color: #E5E5E5;
  border-radius: 19px;
  display: flex;
  width: max-content;
  align-items: center;
    span {
      margin-right: 4px;
    }
    img {
      margin-bottom: 1px;
    }
  &.white-bg {
    background-color: #fff;
  }
  &.no-bg {
    flex-direction: row-reverse;
    span {
      margin-left: 10px;
      margin-right: 0px;
    }
  }
  &:active {
    span, img {
      transition: all 0.4s ease;
      transform: translateX(4px);
    }
  }
}