@font-face {
  font-family: 'MONTSERRAT';
  src: url("../font/MONTSERRAT-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-ITALIC.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MONTSERRAT";
  src: url("../font/MONTSERRAT-BOLDITALIC.TTF") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.menu {
  background-color: #12416b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 22px 18px 22px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right .button {
  border-radius: 91px;
  height: 24px;
  padding: 6px 29px 6px 29px;
  background: #f7941d;
  border: none;
}

.menu-right .button .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #12416b;
}

.menu-right .button.medium {
  border-radius: 43px;
}

.menu .logo {
  max-width: 140px;
  max-height: 22px;
  margin-top: 2px;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  /* ANIMATION */
}

.menu-btn__burger {
  width: 26px;
  height: 3px;
  background-color: #c4c4c4;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #c4c4c4;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.menu-content {
  height: 100vh;
  -webkit-clip-path: circle(10px at 90% -10%);
          clip-path: circle(10px at 90% -10%);
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 20px 35px 20px 35px;
  z-index: 99999;
}

.menu-content.show {
  -webkit-clip-path: circle(1000px at 90% -10%);
          clip-path: circle(1000px at 90% -10%);
}

.menu-wrap {
  padding-top: 60px;
}

.accordion__item {
  border-bottom: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.accordion__item:not(:first-child) {
  border-top: 1px solid #cccccc;
}

.accordion .button-collapse {
  width: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: unset;
  position: absolute;
  right: -4px;
  z-index: 1;
}

.accordion .button-collapse i {
  color: #f7941d;
  font-size: 11px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.accordion .button-collapse.active {
  color: #f7941d;
}

.accordion .button-collapse.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion .button-collapse.active + .accordion__body.collapse, .accordion .button-collapse.active ~ .accordion__body.collapse {
  -webkit-transition: max-height .45s ease-in;
  transition: max-height .45s ease-in;
  max-height: 1000px;
}

.accordion .button-collapse.active + .accordion__header, .accordion .button-collapse.active ~ .accordion__header {
  color: #f7941d;
}

.accordion__header {
  width: 100%;
  color: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 11px;
  padding-right: 16px;
}

.accordion__body {
  width: 100%;
  max-height: 0;
  font-size: 11px;
  overflow: hidden;
}

.accordion__body.collapse {
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.accordion__body p {
  color: inherit;
  line-height: 20px;
}

.accordion__body p.title {
  color: #12416b;
  font-weight: 700;
  padding-top: 12px;
}

.accordion__body .accordion__wrap {
  height: 0;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
  padding-left: 35px;
}

.section-main__box {
  background: url("../image/section/section-amazon.svg") no-repeat;
  width: 100%;
  height: 100%;
  padding-left: 36px;
  padding-right: 36px;
}

.section-main__box .section__title {
  font-weight: bold;
  padding-top: 225px;
  padding-bottom: 35px;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-main__box .section__title.main {
  font-size: 35px;
}

.section-main__box.not-breadcumbs {
  text-align: center;
  background-size: cover;
  padding-bottom: 83px;
}

.section-main .breadcumbs {
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 25px;
  padding-top: 31px;
}

.section-main .breadcumbs.white {
  color: #fff;
}

.section-main .breadcumbs.gray {
  color: #565555;
}

.section-main .breadcumbs + .section__title {
  padding-top: 0;
  padding-bottom: 280px;
}

.section-main__menu {
  margin: 0 23px 0 23px;
}

.section-main__menu .button-menu {
  width: 100%;
  background: #303d4f;
  border-radius: 43px;
  padding: 3px 6px 3px 6px;
  height: 39px;
}

.section-main__menu .button-menu:not(:last-child) {
  margin-bottom: 9px;
}

.section-main__menu .button-menu img {
  max-width: 28px;
  max-height: 28px;
  margin-left: 14px;
  margin-bottom: 1px;
}

.section-main__menu .button-menu img + .text {
  margin-left: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.section-main__menu .button-menu .text {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.section-main__menu .button-menu .text.special {
  padding-left: 17px;
  padding-right: 17px;
}

.section-main__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'MONTSERRAT';
}

a {
  color: inherit;
  text-decoration: unset;
}

.button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

.highlights {
  color: #F7941D;
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */